{# _cookeys/templates/about.html_ #}

<!DOCTYPE html> {% extends 'base.html' %} {% block content %}

<main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-in">

            </div>

        </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
                    quidem hic quas.</p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Us Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Home cooks. Restaurateurs. Parents. Food Lovers.</p>
            </div>

            <div class="row">
                {% for member in team %}
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="/static/assets/img/team/{{member.image_source}}" class="img-fluid" alt="Photo for {{ member.member_name }}"></div>
                        <div class="member-info">
                            <h4>{{ member.member_name }}</h4>
                            <span>{{ member.member_title }}</span>
                            <p>{{ member.member_bio }}</p>
                            <div class="social">
                                {% if variable is defined %}
                                <a href="https://twitters.com/{{ member.member_twitter }}"><i class="ri-twitter-fill"></i></a> {% endif %} {% if variable is defined %}
                                <a href="https://facebook.com/{{ member.member_facebook }}"><i class="ri-facebook-fill"></i></a> {% endif %} {% if variable is defined %}
                                <a href="https://instagram.com/{{ member.member_instagram }}"><i class="ri-instagram-fill"></i></a> {% endif %} {% if variable is defined %}
                                <a href="https://linkedin.com/{{ member.member_linkedin }}"> <i class="ri-linkedin-box-fill"></i> </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2>
            </div>

            <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

                <div class="col-lg-5">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

                    <!-- Direct data to personal email via static forms -->
                    <form action="https://api.staticforms.xyz/submit" method="POST">
                        <input type="hidden" name="accessKey" value="b471708e-6621-4fc0-9cb0-1353d368c2b9">
                        <!-- Required -->
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message">Seems there is an error on our side. Please try again.</div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <!-- ReplyTo to be set to specific email; Specify @ as reply to value if you want it to be customers email -->
                        <input type="hidden" name="replyTo" value="@">
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End Main Section -->

{% endblock %}