{# _cookeys/templates/bakeware.html_ #}

<!DOCTYPE html> {% extends 'base.html' %} {% block content %}

<main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-in">
                <div class="col-lg-9 text-center text-lg-left">
                    <p></p>
                    <p> Would you like to suggest tools for us to add?</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{{ url_for('about') }}#contact">Email Us</a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Cta Section -->

    <!-- ======= Bakeware Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="portfolio-details-container">

                <div class="owl-carousel portfolio-details-carousel">
                    <img src="{{bakeware.image}}" class="img-fluid" alt="Photo 1 for {{bakeware.name}}">
                    <img src="{{bakeware.image2}}" class="img-fluid" alt="Photo 2 for {{bakeware.name}}">
                    <img src="{{bakeware.image3}}" class="img-fluid" alt="Photo 3 for {{bakeware.name}}">
                </div>

                <div class="portfolio-info">
                    <h3>{{bakeware.name}}</h3>
                    <ul>
                        <li><strong>Average price</strong>: {{bakeware.price}}</li>
                        <li><strong>Description</strong>: {{bakeware.description}}</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>
    <!-- End Bakeware Details Section -->

</main>

{% endblock %}