{# _cookeys/templates/contact.html_ #}

<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}

<main id="main">

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <!--<h3>Call To Action</h3>-->
            <p></p>
            <p> Did you check that we had this one?  Search and check.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <!--<a class="cta-btn align-middle" href="#">Call To Action</a>-->
            <form action="">
                <input type="text">
                <button type="submit"><i class="icofont-search align-middle"></i></button>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

  <!-- ======= Add Recipe Form ======= -->
  <section id="contact-result" class="contact-result">

    <p>Thank you {{ data.name }} for your submitted comment.  We have noted: {{ data.subject }} {{ data.message }}</p>
    <p>We will send a confirmation email to {{ data.email }}</p>
  </section>

</main>


{% endblock %}